<?xml version="1.0"?>
<!-- Launches Rviz configured for viewing visual markers -->
<!-- Starts add_markers node -->

<launch>
   
  <!-- By default, start RViz from this launch file -->
  <arg name="use_rviz" default="true" />
  <!-- Set config file -->
  <arg name="rvizconfig" default="$(find add_markers)/rviz/add_markers.rviz"/>
  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <node pkg="add_markers" type="add_markers" name="add_markers_node" output="screen" />

</launch>
